<mat-toolbar class="header">
    <span>
        <a href="#" id="">
            <img src="assets/logo.jpg" id="logo" alt="Imagem de Igor Campos de Borba">
        </a>
    </span>
    <div class="title-group">
        <h1 class="title"> Igor Campos de borba </h1>
        <h2 class="subtitle">Java <span class="highlight">software developer</span></h2>
    </div>

    <nav class="menu" id="menu">
        <ul>
            <a href="https://github.com/igorcamposdeborba" target="_blank"><li>PORTFOLIO</li></a>
            <a href="https://www.linkedin.com/in/igor-campos-de-borba/" target="_blank"><li>LINKEDIN</li></a>
        </ul>
        <a href="#a" class="fechar-menu"></a>
    </nav>
    <div>
        <p><a class="botao-menu" href="#menu">&equiv;</a></p>
    </div>
</mat-toolbar>