<div class="groupSecondaryText">
    <ul>
    <p>Also I worked in my carreer with tools and can do this: </p>
        <li> <strong>Image design</strong>: Illustrator, Photoshop, InDesign and Corel;</li>
        <li> <strong>Paid Ads</strong>: Google Ads, Meta Ads (Instagram/Facebook), Bing ads, Criteo, LinkedIn ads Google Tag Manager and Google Data Studio, HubSpot;</li>
        <li> <strong>SEO</strong>: Technology analysis and copywriting insights with Google Search Console.</li>
    </ul>
</div>