<div class="sectionLanguages">
    <h1>Back-end Languages</h1> <a href="#languages"></a>
    
    <div class="principalLanguages">
        <img src="assets/regex-2.png" alt="Regex" class="imageLanguage"/>
        <img src="assets/spring-2.png" alt="Spring Boot" class="imageLanguage"/>
        <img src="assets/java.png" alt="Java" class="imageLanguage"/>
        <img src="assets/mysql.png" alt="MySQL" class="imageLanguage"/>
        <img src="assets/junit.png" alt="JUnit" class="imageLanguage"/>
    </div>
    <h2>Secondary knowledges of front-end</h2>
    <div class="secondaryLanguages">
        <img src="assets/html5-3.png" alt="HTML" class="imageLanguageSecondary"/>
        <img src="assets/JavaScript-2.png" alt="JavaScript" class="imageLanguageSecondary secondItem"/>
        <img src="assets/angular.png" alt="Angular" class="imageLanguageSecondary penultimeItem"/>
        <img src="assets/css3-3.png" alt="CSS" class="imageLanguageSecondary lastItem"/>
    </div>
</div>
<div class="cvDownload">
    <a href="https://drive.google.com/file/d/1BCIhWQiYCL_U8J2wPoviQBzfvzbvC3xC/view?usp=sharing" target="_blank">
    <h2>CV Download</h2>
        <img src="assets/cv-2.png" alt="Curriculum Vitae Igor Campos de Borba" class="centerImg"/>
    </a>
</div>