<div class="groupCards">
    <div class="cards">
    <div class="cardProject">
        <a href="http://agads.myartsonline.com/" target="_blank">
            <img src="assets/project-landing-page.jpg" alt="Project Landing page">
        </a>
        <div class="contentCard">
            <div>Landing page</div>
            <p> <a href="http://agads.myartsonline.com/" target="_blank"><span class="highlight">Click to see the project</span></a> </p>
        </div>
    </div>

    <div class="cardProject">
        <a href="https://github.com/igorcamposdeborba/SpringBoot_Angular_site_adocaoPet" target="_blank">
            <img src="assets/project-website-with-catalog.jpg" alt="Project Website with catalog">
        </a>
        <div class="contentCard">
            <div>Website with catalog</div>
            <p> <a href="https://github.com/igorcamposdeborba/SpringBoot_Angular_site_adocaoPet" target="_blank"><span class="highlight">Click to see the project</span></a> </p>
        </div>
    </div>

    <div class="cardProject">
        <a href="https://github.com/igorcamposdeborba/SpringBoot_catalog_products" target="_blank">
            <img src="assets/project-server-crud-database.jpg" alt="Project Server CRUD and database">
        </a>
        <div class="contentCard">
            <div>Server CRUD & database</div>
            <p> <a href="https://github.com/igorcamposdeborba/SpringBoot_catalog_products" target="_blank"><span class="highlight">Click to see the project</span></a> </p>
        </div>
    </div>

    <div class="cardProject">
        <a href="https://github.com/igorcamposdeborba/angular-crud" target="_blank">
            <img src="assets/project-crm-website.jpg" alt="Project CRM website">
        </a>
        <div class="contentCard">
            <div>CRM website</div>
            <p> <a href="https://github.com/igorcamposdeborba/angular-crud" target="_blank"><span class="highlight">Click to see the project</span></a> </p>
        </div>
    </div>
    </div>
</div>
