<div class="main">
    <div class="group-logos">
        <a href="https://github.com/igorcamposdeborba" target="_blank"> <img class="github-logo" src="assets/GitHub.png" alt="Portfolio on GitHub"></a>
        <a href="https://www.linkedin.com/in/igor-campos-de-borba/" target="_blank"> <img class="linkedin-logo" src="assets/linkedin.png" alt="Curriculum Vitae LinkedIn"></a>
        <div [innerHTML]="contact"></div>
    </div>
    <main>
        <p> I work with software development in <span class="highlight"> <strong> Java </strong></span> and <span class="highlight"> <strong> SpringBoot</strong></span>.
            My differential is that I have experience in Java and paid ads because I've worked in both areas. </p>
            <p> I'm currently course my <strong>2nd degree in Internet Systems</strong> (IT area). I have a <strong>postgraduate degree in Digital Business</strong> and a <strong>degree in Advertising</strong>. </p>
            <p> I develop programs in Java (with Spring Boot, JavaFX and JUnit) and databases in MySQL. Intermediate English.
        </p>
    </main>
</div>